<a href="/@localizer["LangPath"]about" >
    <h1 style="color:orchid;">
    about

    </h1>

</a>
<a href="/@localizer["LangPath"]word-from-ceo" >
    <h1 style="color:orchid;">
    Word from CEO

    </h1>

</a>
<a href="/@localizer["LangPath"]ourclients" >
    <h1 style="color:orchid;">
    ourclients

    </h1>

</a>
<a href="/@localizer["LangPath"]testimonials" >
    <h1 style="color:orchid;">
    testimonials

    </h1>

</a>
<a href="/@localizer["LangPath"]gallery" >
    <h1 style="color:orchid;">
    gallery

    </h1>

</a>

<a href="/@localizer["LangPath"]careers" >
    <h1 style="color:orchid;">
    careers

    </h1>

</a>
<a href="/@localizer["LangPath"]allnews" >
    <h1 style="color:orchid;">
    allnews

    </h1>

</a>
<a href="/@localizer["LangPath"]market-control-online-employees-tracking-system">
    <h1 style="color:orchid;">
        GPS

    </h1>

</a>
<partial name="_SelectLanguage" class="langSwitch" />