.LatestNewsH2 {
    display: flex;
    justify-content: space-between;
}
.LatestNewsAstyle {
    float: right;
    direction: ltr;
    font-size: 18px;
}
.sec-title h2:after {
    left: 0%!important;
}

.pullDir{
    float:left!important;
}
.pullDirReverse {
    float: right !important;
}
.dir{
    direction:ltr!important;
}

.TextDir {
    text-align: left;
}

.FloatRightEnOnly{
    float:right!important;
}