
<footer id="footer" class="footer-custom" role="contentinfo">
    <div id="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <div class="corporate-widget">
                            <span class="footer-logo"><img src="/images/logo-white-s.png" class="img-responsive" alt="softex-logo-white" /></span><!-- End .footer-logo -->
                            <p>
                                Softex is a very fast growing software development house that was founded in January 2004,we design and develop professional Business Solutions which are presented to our customers with ...
                               
                            </p>

                            <div id="newLetterId" class="widget mt60">
                                <h4>Newsletter <img style="display: none;" src="/images/footer-preloader.gif" id="newsletterpreloader" alt="preloader" /></h4>
                                <div class="newsletter-widget">
                                    <p id="newlettermsg">Join our newsletter and follow the latest News.</p>
                                    <form method="POST" action="" id="newsletter-widget-form">
                                        <input type="email" class="form-control " placeholder="Join our newsletter..." required>
                                        <button id="newslettersub" type="submit" title="Join Now!" class="btn btn-custom "><i class="fa fa-envelope"></i></button>
                                    </form>
                                </div><!-- End .newsletter-widget -->
                            </div><!-- End .widget -->



                        </div><!-- End corporate-widget -->
                    </div><!-- End .widget -->
                </div><!-- End .col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h4>Products</h4>
                        <ul class="links">
                            <li><a href="/market-control-online"><i class="fa fa-angle-right"></i>Market Control Online</a></li>
                            <li><a href="/sales-control-online"><i class="fa fa-angle-right"></i>Sales Control Online</a></li>
                            <li><a href="/travel-control-online.php"><i class="fa fa-angle-right"></i>Travel Control Online</a></li>
                            <li><a href="/webdesign"><i class="fa fa-angle-right"></i>Web Design</a></li>
                            <li><a href="/webhosting"><i class="fa fa-angle-right"></i>Web Hosting</a></li>
                            <li><a href="/career-control-online"><i class="fa fa-angle-right"></i>Career Control</a></li>
                            <li><a href="/e-office"><i class="fa fa-angle-right"></i>E-Office</a></li>
                            <li><a href="/sms"><i class="fa fa-angle-right"></i>SMS Services</a></li>
                            <li><a href="/avast-antivirus"><i class="fa fa-angle-right"></i>Avast Anti-virus</a></li>
                        </ul>
                    </div><!-- End .widget -->

                </div><!-- End .col-md-3 -->

                <div class="clearfix visible-sm"></div><!-- End .clearfix -->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h4>Contact Information</h4>
                        <div class="corporate-widget">
                            <p><strong style="color:#5ee0ef">Main Office and Sales</strong></p>

                            <span style="color:#5ee0ef">Tel & Fax:</span> (+202) 22727704 - 22706580 <br />
                            <span style="color:#5ee0ef">Address :</span> 3 Naguib Mahfouz St., branched from Abbas el-Akkad extension, 3rd floor, Cairo, Egypt <br />
                            <br />
                            <p><strong style="color:#5ee0ef">Accounting and Technical Support</strong></p>

                            <!-- <span style="color:#5ee0ef">Tel & Fax:</span> <br/> -->
                            <span style="color:#5ee0ef">Address :</span> 18 Wali st., Kobry El Kobba, Cairo, Egypt <br />
                            <br />


                            <span style="color:#5ee0ef" class="social-icons-label">Follow Us at:</span>
                            <div class="social-icons">
                                <a href="https://www.facebook.com/Softexsw" target="_blank" class="social-icon icon-facebook add-tooltip" title="Facebook" data-original-title="Facebook" rel="nofollow">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="https://twitter.com/softexsoftware" target="_blank" class="social-icon icon-twitter add-tooltip" title="Twitter" data-original-title="Twitter" rel="nofollow">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="https://www.youtube.com/user/SoftexTube" target="_blank" class="social-icon icon-youtube add-tooltip" title="Youtube" data-original-title="Youtube" rel="nofollow">
                                    <i class="fa fa-youtube"></i>
                                </a>
                                <a href="https://www.linkedin.com/company/softex-software-house/" target="_blank" class="social-icon icon-linkedin" title="Linkedin" rel="nofollow">
                                    <i class="fa fa-linkedin"></i>
                                </a>

                                <a href="https://www.instagram.com/softexsw/" target="_blank" class="social-icon icon-instagram" title="instagram" rel="nofollow">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div><!-- End .social-icons -->
                        </div><!-- End .twitter-feed-widget -->

                    </div>


                </div><!-- End .col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <div class="widget">
                        <h4>Contact Form <img style="display: none;" src="/images/footer-preloader.gif" id="contactformloader" alt="preloader" /></h4>
                        <h4 id="contactformmsg" style="display:none"></h4>
                        <div class="contact-form-widget">
                            <form action="" method="post" id="FootercontactForm">
                 
                                <div class="form-group" style="margin-bottom:10px">
                                    <label for="footerContactName">Name</label>
                                    <input type="text" id="footerContactName" name="footerContactName" class="form-control " placeholder="Your name.." required>
                                </div><!-- End .form-group -->

                                <div class="form-group" style="margin-bottom:10px">
                                    <label for="footerContactPhone">Phone</label>
                                    <input type="text" id="footerContactPhone" name="footerContactPhone" class="form-control " placeholder="Your phone.." required>
                                </div><!-- End .form-group -->

                                <div class="form-group" style="margin-bottom:10px">
                                    <label for="footerContactEmail">Email</label>
                                    <input type="email" id="footerContactEmail" name="footerContactEmail" class="form-control " placeholder="Your email.." required>
                                    <input type="hidden" name="parentUrl" value=""/>
                                </div><!-- End .form-group -->

                                <div class="form-group" style="margin-bottom:10px">
                                    <label for="footerContactMessage">Message</label>
                                    <textarea name="footerContactMessage" id="footerContactMessage" class="form-control" cols="30" rows="2" placeholder="Your message.." required></textarea>
                                </div><!-- End .form-group -->
                                <input type="hidden" name="footerContacthiddenbutton" />
                                <input id="contactsub" type="submit" class="btn btn-custom btn-block" data-loading-text="Sending..." value="Send Message">
                            </form>
                        </div><!-- End .newsletter-widget -->
                    </div><!-- End .widget -->
                </div><!-- End .col-md-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #footer-inner -->
    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <ul class="footer-menu">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/productAdvisor">Product Advisor</a></li>
                        <li><a href="/faqs">Faqs</a></li>
                        <li><a href="/pages-652">Privacy Policy</a></li>
                        <li><a href="/sitemap">Sitemap</a></li>
                        <li><a href="http://www.softexsw.com/supportforums">Forums</a></li>
                    </ul>
                </div><!-- End .col-md-6 -->
                <div class="col-md-6 col-md-pull-6">
                    <p class="copyright">Powered by <a href="http://softexsw.com">Softex Software House</a></p>
                </div><!-- End .col-md-6 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #footer-bottom -->
</footer>

   
<script src="//code.tidio.co/hc0hwtemk9flqytezkivqu7zh1cdfquy.js" async></script>