<script src="/js/en/bootstrap.min.js"></script>
<script src="/js/en/jquery.hoverIntent.min.js"></script>
<script src="/js/en/jquery.nicescroll.min.js"></script>
<script src="/js/en/waypoints.min.js"></script>
<script src="/js/en/waypoints-sticky.min.js"></script>
<script src="/js/en/jquery.debouncedresize.js"></script>
<script src="/js/en/retina.min.js"></script>
<script src="/js/en/owl.carousel.min.js"></script>
<script src="/js/en/jflickrfeed.min.js"></script>
<script src="/js/en/twitter/jquery.tweet.min.js"></script>
<script src="/js/en/typed.min.js"></script>
<script src="/js/en/main.js"></script>


<script>
    $(function () {
        "use strict";
        $(".typed-heading").typed({
            strings: ["Quality is not an act.", "It is a habit.", "<span style='font-size:20px'>Welcome to </span> <br/> <span style='font-size:30px'>Softex Software House</span>"],
            typeSpeed: 25,
            backSpeed: 5
        });
    });
</script>