@{
    ViewData["Title"] = localizer["GPS"];
}

<div id="GPSSection">
    <div id="content" class="no-padding" role="main">
    <div class="page-header parallax dark larger2x larger-desc skrollable skrollable-between" data-bgattach="/images/backgrounds/index9/bg1.webp" alt="Header-bg" data-0="background-position:50% 0px;" data-500="background-position:50% -100%" style="background-image: url(&quot;/images/backgrounds/index9/bg1.webp&quot;); background-position: 50% 0px;">
        <div class="container">
            <div class="row" style="display: flex;">
                <div class="col-md-6">
                    <h2 style="font-size: 30px;">{{Details.name}} </h2>
                    <h1 style="font-weight: 100;font-size: 18px;">{{Details.shortDescription}}</h1>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="/">@localizer["home"]</a></li>
                        <li class="active">{{Details.name}} </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container pb60">

        <div class="col-md-9">
            <div style="border-bottom:4px #015990 solid" >
                    <img v-for="image in Details.images" :src="updateSelectedImage(image)" :alt="image.imageFileName" class="img-responsive">
            </div>

            <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-justified no-radius" style="margin-bottom: 40px;" role="tablist">
                    <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab" style="padding: 20px 15px;font-weight: 700;" aria-expanded="true"><i class="fa fa-eye"></i> Overview</a></li>

                    <li role="presentation" class=""><a href="#pictures" aria-controls="pictures" role="tab" data-toggle="tab" style="padding: 20px 15px;font-weight: 700;" aria-expanded="false"><i class="fa fa-file-image-o"></i> System Images</a></li>

                    <li role="presentation" class=""><a href="#videos" aria-controls="videos" role="tab" data-toggle="tab" style="padding: 20px 15px;font-weight: 700;" aria-expanded="false"><i class="fa fa-video-camera"></i> Videos</a></li>


                    <li role="presentation" class=""><a href="#benefits" aria-controls="benefits" role="tab" data-toggle="tab" style="padding: 20px 15px;font-weight: 700;" aria-expanded="false"><i class="fa fa-star "></i> Top Features</a></li>
                </ul>

                <!-- Tab Panes -->
                <div class="tab-content">
                    <!--Strat General tab-->
                    <div role="tabpanel" class="tab-pane active" id="general">
                        <div style="background: #f1f1f1;padding: 30px;">
                            <h2 class="title-underblock title-bottom-border custom mb30"><span>Softex GPS Tracker</span></h2>
                            <p><strong>Assign employees to their respective office locations, workweeks, and timings</strong></p>
                            <p>Forget manual login and spreadsheet crash! </p>
                            <p>Softex GPS Tracker allow employers to seamlessly track employees, managing records and automatically sync with professional dashboard. </p>
                            <div class="mt20"><a class="btn btn-danger btn-lg" href="#" name=" " data-toggle="modal" data-target="#modal-contact-form-advanced" target="_blank"><i class="fa fa-map-marker" style="font-size:20px; margin-right:10px"></i> Apply now for Live demo</a> <a class="btn btn-custom btn-lg" href="https://www.softexsw.com/en/GPS_Presentation_En.pdf" target="_blank"><i class="fa fa-download" style="font-size:20px; margin-right:10px"></i> Download Catalog</a></div>
                        </div>

                        <div class="mb30 clearfix"></div>
                        <h2 class="title-border custom mb50">GPS Tracking system that improves work-flow</h2>
                        <div class="row">


                            <div class="col-md-6">
                                <div class="pt20 pb70" style="border:1px dashed #ccc; border-radius:8px; box-shadow: 0 3px 17px rgb(0 0 0 / 11%);
    -webkit-box-shadow: 0 3px 17px rgba(0, 0, 0, 0.11); padding:20px;height: 1050px; position:relative">
                                    <div class="mb20">
                                        <div style="position: relative">
                                            <div class="h_iframe" style="box-shadow: none; border:0">
                                                <img src="https://www.softexsw.com/en/images/gps-1.webp" style="width: 80%;margin: auto;" class="img-responsive" alt="">
                                            </div>
                                            <div class="play-video small">
                                                <a href="https://youtu.be/u0JSNyM_eMY" data-lity="">Play Video <i class="fa fa-play"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding-left: 40px;">
                                        <h3 class="custom mb30" style="background: #f1f1f1;padding: 15px;border-radius: 8px;margin-left: -40px;"><i class="fa fa-check-square-o" style="margin-right: 5px;"></i> Standard</h3>
                                        <h5><strong>Management: </strong></h5>
                                        <ul class="list-style list-square mb20">
                                            <li>Dashboard</li>
                                            <li>
                                                Admin Panel
                                                <ul class="list-disc mt10">
                                                    <li>Create Employee Accounts</li>
                                                    <li>Manage Accounts</li>
                                                    <li>Accept employee requests</li>
                                                    <li>Reject employee requests</li>
                                                </ul>
                                            </li>
                                            <li>Summary Reports</li>
                                            <li>Analytics On-Screen</li>
                                        </ul>

                                        <h5><strong>Employees: </strong></h5>
                                        <ul class="list-style list-square mb20">
                                            <li>Activity Log</li>
                                            <li>
                                                Check-in &amp; out
                                                <ul class="list-disc mt10">
                                                    <li>Pin location</li>
                                                    <li>Remarks</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="pricing-btn js-anchor-link" href="#scroll-to" onclick="show('popupk') &amp; hide('popup')">View Price</button>
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="pt20" style="border:1px dashed #ccc; border-radius:8px; box-shadow: 0 3px 17px rgb(0 0 0 / 11%);
    -webkit-box-shadow: 0 3px 17px rgba(0, 0, 0, 0.11); padding:20px;height: 1050px; position:relative">
                                    <div class="mb20">
                                        <div style="position: relative">
                                            <div class="h_iframe" style="box-shadow: none; border:0">
                                                <img src="https://www.softexsw.com/en/images/gps-2.webp" style="width: 80%;margin: auto;" class="img-responsive" alt="">
                                            </div>
                                            <div class="play-video small">
                                                <a href="https://youtu.be/XZcEzr9S8OI?list=PLQQnQmmSSf3okse5ZrYx-fu0ygikxu9Ph" data-lity="">Play Video <i class="fa fa-play"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding-left: 40px;">
                                        <h3 class="custom mb30" style="background: #f1f1f1;padding: 15px;border-radius: 8px;margin-left: -40px;"><i class="fa fa-check-square-o" style="margin-right: 5px;"></i> Premium</h3>
                                        <h5><strong>Management: </strong></h5>
                                        <ul class="list-style list-square mb20">
                                            <li><span style="color: #cc292a;"><b>Live Tracking</b></span></li>
                                            <li>Dashboard</li>
                                            <li>
                                                Admin Panel
                                                <ul class="list-disc mt10">
                                                    <li>Create Employee Accounts</li>
                                                    <li>Manage Accounts</li>
                                                    <li>Accept request</li>
                                                    <li>Reject Request</li>
                                                </ul>
                                            </li>
                                            <li>Summary Reports</li>
                                            <li>Analytics On-Screen</li>
                                        </ul>

                                        <h5><strong>Employees: </strong></h5>
                                        <ul class="list-style list-square mb20">
                                            <li><span style="color: #cc292a;"><b>Live Tracking</b></span></li>
                                            <li>Activity Log</li>
                                            <li>
                                                Check-in &amp; out
                                                <ul class="list-disc mt10">
                                                    <li>Pin Location</li>
                                                    <li>Remarks</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="pricing-btn-red js-anchor-link" href="#scroll-to" onclick="show('popup') &amp; hide('popupk')">View Price</button>
                                </div>
                            </div>

                            <!--- pricing tables -->
                            <div class="mb30 clearfix"></div>
                            <div id="scroll-to" style="padding-top: 80px; margin-top:-80px"></div>
                            <!-- This is what will be included inside the popup -->
                            <div class="popupk" id="popupk">
                                <div id="generic_price_table">
                                    <div class="box" style="background: #d4d4d4;">
                                        <div style="text-align: center;">
                                            <h1 style="font-weight: 200;">GPS Tracker <b>Standard</b> Packages</h1>
                                        </div>

                                        <!--BLOCK ROW START-->
                                        <div class="row">
                                            <div class="col-md-4">

                                                <!--PRICE CONTENT START-->
                                                <div class="generic_content clearfix">

                                                    <!--HEAD PRICE DETAIL START-->
                                                    <div class="generic_head_price clearfix">

                                                        <!--HEAD CONTENT START-->
                                                        <div class="generic_head_content clearfix">

                                                            <!--HEAD START-->
                                                            <div class="head_bg"></div>
                                                            <div class="head">
                                                                <span>3 Months <br><span>in  Advance</span> </span>
                                                            </div>
                                                            <!--//HEAD END-->

                                                        </div>
                                                        <!--//HEAD CONTENT END-->
                                                        <!--PRICE START-->
                                                        <div class="generic_price_tag clearfix">
                                                            <span class="price">

                                                                <span class="cent">Cost / Month </span>
                                                            </span>
                                                        </div>
                                                        <!--//PRICE END-->

                                                    </div>
                                                    <!--//HEAD PRICE DETAIL END-->
                                                    <!--FEATURE LIST START-->
                                                    <div class="generic_feature_list">
                                                        <ul>
                                                            <li>
                                                                1 to 25 Employee<br><span>20 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                26 to 50 Employee<br><span>19 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                51 to 100 Employee<br><span>18 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                More than 100 Employee<br><span>17 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!--//FEATURE LIST END-->
                                                    <!--BUTTON START-->
                                                    <div class="generic_price_btn clearfix">
                                                        <a class="pricing_pop" name="Standard-3 Months" data-toggle="modal" onclick="getclick('(general)');" data-target="#modal-contact-form-advanced" href="">Send Request</a>
                                                    </div>
                                                    <!--//BUTTON END-->

                                                </div>
                                                <!--//PRICE CONTENT END-->

                                            </div>

                                            <div class="col-md-4">

                                                <!--PRICE CONTENT START-->
                                                <div class="generic_content clearfix">

                                                    <!--HEAD PRICE DETAIL START-->
                                                    <div class="generic_head_price clearfix">

                                                        <!--HEAD CONTENT START-->
                                                        <div class="generic_head_content clearfix">

                                                            <!--HEAD START-->
                                                            <div class="head_bg"></div>
                                                            <div class="head">
                                                                <span>6 Months <br><span>in  Advance</span></span>
                                                            </div>
                                                            <!--//HEAD END-->

                                                        </div>
                                                        <!--//HEAD CONTENT END-->
                                                        <!--PRICE START-->
                                                        <div class="generic_price_tag clearfix">
                                                            <span class="price">

                                                                <span class="cent">Cost / Month</span>

                                                            </span>
                                                        </div>
                                                        <!--//PRICE END-->

                                                    </div>
                                                    <!--//HEAD PRICE DETAIL END-->
                                                    <!--FEATURE LIST START-->
                                                    <div class="generic_feature_list">
                                                        <ul>
                                                            <li>
                                                                1 to 25 Employee<br><span>18 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                26 to 50 Employee<br><span>17 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                51 to 100 Employee<br><span>16 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                More than 100 Employee<br><span>15 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!--//FEATURE LIST END-->
                                                    <!--BUTTON START-->
                                                    <div class="generic_price_btn clearfix">
                                                        <a class="pricing_pop" name="Standard-6 Months" data-toggle="modal" onclick="getclick('(general)');" data-target="#modal-contact-form-advanced" href="">Send Request</a>
                                                    </div>
                                                    <!--//BUTTON END-->

                                                </div>
                                                <!--//PRICE CONTENT END-->

                                            </div>

                                            <div class="col-md-4">

                                                <!--PRICE CONTENT START-->
                                                <div class="generic_content clearfix">

                                                    <!--HEAD PRICE DETAIL START-->
                                                    <div class="generic_head_price clearfix">

                                                        <!--HEAD CONTENT START-->
                                                        <div class="generic_head_content clearfix">

                                                            <!--HEAD START-->
                                                            <div class="head_bg"></div>
                                                            <div class="head">
                                                                <span>12 Months <br><span>in  Advance</span></span>
                                                            </div>
                                                            <!--//HEAD END-->

                                                        </div>
                                                        <!--//HEAD CONTENT END-->
                                                        <!--PRICE START-->
                                                        <div class="generic_price_tag clearfix">
                                                            <span class="price">

                                                                <span class="cent">Cost / Month</span>

                                                            </span>
                                                        </div>
                                                        <!--//PRICE END-->

                                                    </div>
                                                    <!--//HEAD PRICE DETAIL END-->
                                                    <!--FEATURE LIST START-->
                                                    <div class="generic_feature_list">
                                                        <ul>
                                                            <li>
                                                                1 to 25 Employee<br><span>17 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                26 to 50 Employee<br><span>16 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                51 to 100 Employee<br><span>15 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                More than 100 Employee<br><span>14 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!--//FEATURE LIST END-->
                                                    <!--BUTTON START-->
                                                    <div class="generic_price_btn clearfix">
                                                        <a class="pricing_pop" name="Standard-12 Months" data-toggle="modal" onclick="getclick('(general)');" data-target="#modal-contact-form-advanced" href="">Send Request</a>
                                                    </div>
                                                    <!--//BUTTON END-->

                                                </div>
                                                <!--//PRICE CONTENT END-->

                                            </div>
                                        </div>
                                        <!--//BLOCK ROW END-->

                                        <div style="margin-top: 40px;text-align: center;"><strong>Note:</strong> All prices are subject to change due to the currency fluctuations, except that prices for an order that have been accepted </div>

                                    </div>
                                </div>
                                <a class="pop_close js-anchor-link" onclick="hide('popupk')"><i class="fa fa-close"></i></a>
                            </div>



                            <div class="popup" id="popup">
                                <div id="generic_price_table">
                                    <div class="box" style="background: #d4d4d4;">
                                        <div style="text-align: center;">
                                            <h1 style="font-weight: 200;">GPS Tracker <b>Premium</b> Packages</h1>
                                        </div>

                                        <!--BLOCK ROW START-->
                                        <div class="row">
                                            <div class="col-md-4">

                                                <!--PRICE CONTENT START-->
                                                <div class="generic_content clearfix">

                                                    <!--HEAD PRICE DETAIL START-->
                                                    <div class="generic_head_price clearfix">

                                                        <!--HEAD CONTENT START-->
                                                        <div class="generic_head_content clearfix">

                                                            <!--HEAD START-->
                                                            <div class="head_bg"></div>
                                                            <div class="head">
                                                                <span>3 Months <br><span>in  Advance</span> </span>
                                                            </div>
                                                            <!--//HEAD END-->

                                                        </div>
                                                        <!--//HEAD CONTENT END-->
                                                        <!--PRICE START-->
                                                        <div class="generic_price_tag clearfix">
                                                            <span class="price">

                                                                <span class="cent">Cost / Month </span>
                                                            </span>
                                                        </div>
                                                        <!--//PRICE END-->

                                                    </div>
                                                    <!--//HEAD PRICE DETAIL END-->
                                                    <!--FEATURE LIST START-->
                                                    <div class="generic_feature_list">
                                                        <ul>
                                                            <li>
                                                                1 to 25 Employee<br><span>75 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                26 to 50 Employee<br><span>70 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                51 to 100 Employee<br><span>65 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                More than 100 Employee<br><span>60 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!--//FEATURE LIST END-->
                                                    <!--BUTTON START-->
                                                    <div class="generic_price_btn clearfix">
                                                        <a class="pricing_pop" name="Premium-3 Months" data-toggle="modal" onclick="getclick('(general)');" data-target="#modal-contact-form-advanced" href="">Send Request</a>
                                                    </div>
                                                    <!--//BUTTON END-->

                                                </div>
                                                <!--//PRICE CONTENT END-->

                                            </div>

                                            <div class="col-md-4">

                                                <!--PRICE CONTENT START-->
                                                <div class="generic_content clearfix">

                                                    <!--HEAD PRICE DETAIL START-->
                                                    <div class="generic_head_price clearfix">

                                                        <!--HEAD CONTENT START-->
                                                        <div class="generic_head_content clearfix">

                                                            <!--HEAD START-->
                                                            <div class="head_bg"></div>
                                                            <div class="head">
                                                                <span>6 Months <br><span>in  Advance</span></span>
                                                            </div>
                                                            <!--//HEAD END-->

                                                        </div>
                                                        <!--//HEAD CONTENT END-->
                                                        <!--PRICE START-->
                                                        <div class="generic_price_tag clearfix">
                                                            <span class="price">

                                                                <span class="cent">Cost / Month</span>

                                                            </span>
                                                        </div>
                                                        <!--//PRICE END-->

                                                    </div>
                                                    <!--//HEAD PRICE DETAIL END-->
                                                    <!--FEATURE LIST START-->
                                                    <div class="generic_feature_list">
                                                        <ul>
                                                            <li>
                                                                1 to 25 Employee<br><span>70 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                26 to 50 Employee<br><span>65 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                51 to 100 Employee<br><span>60 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                More than 100 Employee<br><span>55 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!--//FEATURE LIST END-->
                                                    <!--BUTTON START-->
                                                    <div class="generic_price_btn clearfix">
                                                        <a class="pricing_pop" name="Premium-6 Months" data-toggle="modal" onclick="getclick('(general)');" data-target="#modal-contact-form-advanced" href="">Send Request</a>
                                                    </div>
                                                    <!--//BUTTON END-->

                                                </div>
                                                <!--//PRICE CONTENT END-->

                                            </div>

                                            <div class="col-md-4">

                                                <!--PRICE CONTENT START-->
                                                <div class="generic_content clearfix">

                                                    <!--HEAD PRICE DETAIL START-->
                                                    <div class="generic_head_price clearfix">

                                                        <!--HEAD CONTENT START-->
                                                        <div class="generic_head_content clearfix">

                                                            <!--HEAD START-->
                                                            <div class="head_bg"></div>
                                                            <div class="head">
                                                                <span>12 Months <br><span>in  Advance</span></span>
                                                            </div>
                                                            <!--//HEAD END-->

                                                        </div>
                                                        <!--//HEAD CONTENT END-->
                                                        <!--PRICE START-->
                                                        <div class="generic_price_tag clearfix">
                                                            <span class="price">

                                                                <span class="cent">Cost / Month</span>

                                                            </span>
                                                        </div>
                                                        <!--//PRICE END-->

                                                    </div>
                                                    <!--//HEAD PRICE DETAIL END-->
                                                    <!--FEATURE LIST START-->
                                                    <div class="generic_feature_list">
                                                        <ul>
                                                            <li>
                                                                1 to 25 Employee<br><span>65 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                26 to 50 Employee<br><span>60 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                51 to 100 Employee<br><span>55 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                            <li>
                                                                More than 100 Employee<br><span>50 EGP <span>/ Employee / Month</span></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!--//FEATURE LIST END-->
                                                    <!--BUTTON START-->
                                                    <div class="generic_price_btn clearfix">
                                                        <a class="pricing_pop" name="Premium-12 Months" data-toggle="modal" onclick="getclick('(general)');" data-target="#modal-contact-form-advanced" href="">Send Request</a>
                                                    </div>
                                                    <!--//BUTTON END-->

                                                </div>
                                                <!--//PRICE CONTENT END-->

                                            </div>
                                        </div>
                                        <!--//BLOCK ROW END-->

                                        <div style="margin-top: 40px;text-align: center;"><strong>Note:</strong> All prices are subject to change due to the currency fluctuations, except that prices for an order that have been accepted </div>

                                    </div>
                                </div>
                                <a class="pop_close js-anchor-link" onclick="hide('popup')"><i class="fa fa-close"></i></a>
                            </div>
                        </div>
                        <div class="mb30 clearfix"></div>

                        <h2 class="title-border custom mb30 mt40">Benefits of using Softex GPS Tracker </h2>
                        <p>A non-complexed system that allow the user (Employee) to share his GPS Check-ins or live location with manager (Employer) for business purposes. The user can share and write comments about his current location stamped with date and time to be shared only with his corporate account manager. </p>
                        <p>Nevertheless.. Get subscribed to enjoy the Live tracking feature that allow an instant monitoring for your team performance. </p>
                        <h4><em>“Managing resources will empower your business insight“</em></h4>
                        <p>Softex GPS Tracking system help companies get a grip on labor costs, especially overtime, and those who own large sales force and technical support teams or maintenance crew, since it is functional for keeping the track of their employees. Otherwise, it will help managers to make a solid evaluation based on the efficient system reports.</p>

                        <div class="mb20"><img src="https://www.softexsw.com/en/images/gps-3.webp" alt="Softex GPS Benefits" class="img-responsive"></div>

                        <h3 class="first-color mb20">Ready to automate your operations with GPS smart tracker?  </h3>
                        <p class=" mb30">Manage employee’s records, data, and locations in one secure place that is scalable and easy to access from anywhere.  </p>

                        <h2 class="title-border custom">Who can use Softex GPS Tracking system? </h2>
                        <p class=" mb20"><strong>Small and medium businesses that run: </strong></p>
                        <ul class="list-style list-square">
                            <li style="float: left; padding-right:20px;font-size: 16px;">Outdoor sales </li>
                            <li style="float: left; padding-right:20px;font-size: 16px;">Number of delegates </li>
                            <li style="float: left; padding-right:20px;font-size: 16px;">Maintenance crew </li>
                            <li style="float: left; padding-right:20px;font-size: 16px;">Delivery agents  </li>
                            <li style="float: left; padding-right:20px;font-size: 16px;">Couriers  </li>
                        </ul>
                        <div class="mb30 clearfix"></div>

                        <h2 class="title-border custom mb30">How it works? </h2>

                        <div class="row">

                            <div class="col-md-12">
                                <h3 class="first-color mb30">Web-based Admin Panel  <a href="http://gps.softexservers.com/" class="btn btn-custom btn-md" target="_blank" style="float: right; font-size:15px; font-weight:100; margin-top:-20px"><i class="icon-pointer"></i> Visit website</a></h3>
                                <p>Fleet management system designed to boost employee’s wellbeing, through a user-friendly interface admin will be able to create, manage, and report employee’s check-ins and outs with remarks.</p>

                                <h3 class="first-color mb30 mt50">Mobile Application for employees  <a href="https://play.google.com/store/apps/details?id=com.softexsw.gps.tracker" class="text-danger" target="_blank" style="float: right; font-size:14px; font-weight:100"><img src="https://www.softexsw.com/en/images/PlayStoreButton.png" style="margin-top: -20px;"></a></h3>
                                <p>Trustworthy and accuracy and to make employees experience world-class, this is the main factors to start using Softex GPS Tracking mobile application.  </p>
                                <p>To let users, feel comfortable that their efforts are not wasted, by locating and reporting to their leaders with a detailed summary from both sides, Softex GPS Tracker generate accurate location data whatever the end-user (Employee) is connected to the internet or not, and once connected again all the data shall be sent to the admin panel. </p>
                            </div>

                        </div>

                    </div>
                    <!-- End general .tab-pane -->
                    
                    
                    @* <!--Strat Pictures tab-->
                    <div role="tabpanel" class="tab-pane" id="pictures">
                        <h2 class="title-underblock title-bottom-border custom mb30"> System Images</h2>
                        <div class="row gap-row">
                            <div id="portfolio-item-container" class="max-col-4 popup-gallery" data-layoutmode="fitRows">




                                <div class="portfolio-item portfolio-image-zoom pull-left websites">
                                    <figure>
                                        <a onclick="sendID('15267')" href="https://softex-api-endpoint.azurewebsites.net/Cpanel/Gallery/webservice/viewimage.php?&amp;id=15267&amp;imgtype=large" class="zoom-item" title="Live Tracking Duration"><img src="https://www.softexsw.com/cashed-tmp/Gallery/AR_trackingSys_1526720220427115917ff15267.webp" alt="Live Tracking Duration" class="img-responsive"></a>
                                    </figure>
                                    <div class="portfolio-meta">
                                        <h3 class="portfolio-title" style="font-size:12px; font-weight:normal"><a onclick="sendID('15267')" title="Live Tracking Duration" href="https://softex-api-endpoint.azurewebsites.net/Cpanel/Gallery/webservice/viewimage.php?&amp;id=15267&amp;imgtype=large">Live Tracking Durat..</a></h3>


                                    </div><!-- End .portfolio-meta -->
                                </div><!-- End .portfolio-item -->





                                <div class="portfolio-item portfolio-image-zoom pull-left websites">
                                    <figure>
                                        <a onclick="sendID('15268')" href="https://softex-api-endpoint.azurewebsites.net/Cpanel/Gallery/webservice/viewimage.php?&amp;id=15268&amp;imgtype=large" class="zoom-item" title="App Interface"><img src="https://www.softexsw.com/cashed-tmp/Gallery/AR_trackingSys_1526820220427120054ff15268.webp" alt="App Interface" class="img-responsive"></a>
                                    </figure>
                                    <div class="portfolio-meta">
                                        <h3 class="portfolio-title" style="font-size:12px; font-weight:normal"><a onclick="sendID('15268')" title="App Interface" href="https://softex-api-endpoint.azurewebsites.net/Cpanel/Gallery/webservice/viewimage.php?&amp;id=15268&amp;imgtype=large">App Interface</a></h3>


                                    </div><!-- End .portfolio-meta -->
                                </div><!-- End .portfolio-item -->





                                <div class="portfolio-item portfolio-image-zoom pull-left websites">
                                    <figure>
                                        <a onclick="sendID('15269')" href="https://softex-api-endpoint.azurewebsites.net/Cpanel/Gallery/webservice/viewimage.php?&amp;id=15269&amp;imgtype=large" class="zoom-item" title="Change Password"><img src="https://www.softexsw.com/cashed-tmp/Gallery/AR_trackingSys_1526920220427120127ff15269.webp" alt="Change Password" class="img-responsive"></a>
                                    </figure>
                                    <div class="portfolio-meta">
                                        <h3 class="portfolio-title" style="font-size:12px; font-weight:normal"><a onclick="sendID('15269')" title="Change Password" href="https://softex-api-endpoint.azurewebsites.net/Cpanel/Gallery/webservice/viewimage.php?&amp;id=15269&amp;imgtype=large">Change Password</a></h3>


                                    </div><!-- End .portfolio-meta -->
                                </div><!-- End .portfolio-item -->





                                <div class="portfolio-item portfolio-image-zoom pull-left websites">
                                    <figure>
                                        <a onclick="sendID('15270')" href="https://softex-api-endpoint.azurewebsites.net/Cpanel/Gallery/webservice/viewimage.php?&amp;id=15270&amp;imgtype=large" class="zoom-item" title="Enable Live Tracking"><img src="https://www.softexsw.com/cashed-tmp/Gallery/AR_trackingSys_1527020220427120219ff15270.webp" alt="Enable Live Tracking" class="img-responsive"></a>
                                    </figure>
                                    <div class="portfolio-meta">
                                        <h3 class="portfolio-title" style="font-size:12px; font-weight:normal"><a onclick="sendID('15270')" title="Enable Live Tracking" href="https://softex-api-endpoint.azurewebsites.net/Cpanel/Gallery/webservice/viewimage.php?&amp;id=15270&amp;imgtype=large">Enable Live Tracking</a></h3>


                                    </div><!-- End .portfolio-meta -->
                                </div><!-- End .portfolio-item -->





                                <div class="portfolio-item portfolio-image-zoom pull-left websites">
                                    <figure>
                                        <a onclick="sendID('15271')" href="https://softex-api-endpoint.azurewebsites.net/Cpanel/Gallery/webservice/viewimage.php?&amp;id=15271&amp;imgtype=large" class="zoom-item" title="Check-in Log"><img src="https://www.softexsw.com/cashed-tmp/Gallery/AR_trackingSys_1527120220427120307ff15271.webp" alt="Check-in Log" class="img-responsive"></a>
                                    </figure>
                                    <div class="portfolio-meta">
                                        <h3 class="portfolio-title" style="font-size:12px; font-weight:normal"><a onclick="sendID('15271')" title="Check-in Log" href="https://softex-api-endpoint.azurewebsites.net/Cpanel/Gallery/webservice/viewimage.php?&amp;id=15271&amp;imgtype=large">Check-in Log</a></h3>


                                    </div><!-- End .portfolio-meta -->
                                </div><!-- End .portfolio-item -->





                                <div class="portfolio-item portfolio-image-zoom pull-left websites">
                                    <figure>
                                        <a onclick="sendID('15272')" href="https://softex-api-endpoint.azurewebsites.net/Cpanel/Gallery/webservice/viewimage.php?&amp;id=15272&amp;imgtype=large" class="zoom-item" title="Sending Location"><img src="https://www.softexsw.com/cashed-tmp/Gallery/AR_trackingSys_1527220220427120353ff15272.webp" alt="Sending Location" class="img-responsive"></a>
                                    </figure>
                                    <div class="portfolio-meta">
                                        <h3 class="portfolio-title" style="font-size:12px; font-weight:normal"><a onclick="sendID('15272')" title="Sending Location" href="https://softex-api-endpoint.azurewebsites.net/Cpanel/Gallery/webservice/viewimage.php?&amp;id=15272&amp;imgtype=large">Sending Location</a></h3>


                                    </div><!-- End .portfolio-meta -->
                                </div><!-- End .portfolio-item -->





                                <div class="portfolio-item portfolio-image-zoom pull-left websites">
                                    <figure>
                                        <a onclick="sendID('15273')" href="https://softex-api-endpoint.azurewebsites.net/Cpanel/Gallery/webservice/viewimage.php?&amp;id=15273&amp;imgtype=large" class="zoom-item" title="Your Location Map"><img src="https://www.softexsw.com/cashed-tmp/Gallery/AR_trackingSys_1527320220427120438ff15273.webp" alt="Your Location Map" class="img-responsive"></a>
                                    </figure>
                                    <div class="portfolio-meta">
                                        <h3 class="portfolio-title" style="font-size:12px; font-weight:normal"><a onclick="sendID('15273')" title="Your Location Map" href="https://softex-api-endpoint.azurewebsites.net/Cpanel/Gallery/webservice/viewimage.php?&amp;id=15273&amp;imgtype=large">Your Location Map</a></h3>


                                    </div><!-- End .portfolio-meta -->
                                </div><!-- End .portfolio-item -->




                            </div><!-- End #portfolio-item-container -->

                        </div>
                    </div>
                    <!-- End Pictures .tab-pane -->
                    
                    
                    <!--Strat Videos tab-->
                    <div role="tabpanel" class="tab-pane" id="videos">
                        <h2 class="title-underblock title-bottom-border custom mb30">System Videos</h2>
                        <div class="row gap-row">
                            <div id="portfolio-item-container" class="custombg max-col-2 popup-gallery mb40">

                                <div class="col-md-6">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/XZcEzr9S8OI" allowfullscreen=""></iframe>
                                    </div><!-- End .embed-responsive -->
                                    <!-- End .portfolio-meta -->
                                </div><!-- End .portfolio-item -->



                                <div class="col-md-6">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/jKzakDC0WfY" allowfullscreen=""></iframe>
                                    </div><!-- End .embed-responsive -->
                                    <!-- End .portfolio-meta -->
                                </div><!-- End .portfolio-item -->



                                <div class="clearfix"></div>
                            </div><!-- End #portfolio-item-container -->
                        </div>
                    </div>
                    <!-- End Videos .tab-pane -->
                    
                   
                    <!--Strat Benefits tab-->
                    <div role="tabpanel" class="tab-pane" id="benefits">

                        <h2 class="title-underblock title-bottom-border custom mb30">Softex GPS Tracking System top features</h2>


                        <ul class="list-style list-square">
                            <li>A registry of users with backup copies. Every 6 minutes!</li>
                            <li>Secure, Cloud-based storage </li>
                            <li>GPS smart tracker</li>
                            <li>Professional Dashboard </li>
                            <li>Analytics on screen </li>
                            <li>Summary reports </li>
                            <li>Live Tracking </li>
                            <li>Accurate locations </li>
                            <li>Working from anywhere </li>
                            <li>SQL Enterprise Database secured by Microsoft.</li>
                            <li>No need for technical support.</li>
                            <li>No need to purchase and update servers / databases.</li>
                            <li>Get Automatic software updates.</li>
                            <li>Multiple users of the system.</li>
                            <li>Infinite number of users, as per subscription </li>
                        </ul>
                    </div>
                    <!-- End Benefits .tab-pane --> *@
                </div>
                <!-- End .tab-content -->
            </div> 


            @* <div class="mt20"><a class="btn btn-danger btn-lg" href="#" name=" " data-toggle="modal" data-target="#modal-contact-form-advanced" target="_blank"><i class="fa fa-map-marker" style="font-size:20px; margin-right:10px"></i> Apply now for Live demo</a></div>

            <div class="mb60 clearfix"></div><!-- space -->
            <div style="background:#5a43a1;padding: 30px;">
                <h2 class=" custom mb30" style="color: #ffffff;"><span>Why to choose Softex? </span></h2>
                <p style="color: #ffffff;">
                    Softex is consistently innovating and offering professional solutions in the Market of software and hardware systems, since 2004. With over +2000 successful project worldwide!
                </p>
                <p style="color: #ffffff;">
                    We guarantee your business with exceptional service level of agreement for support with the system products, and highly qualified team for customer service.
                </p>
                <p style="color: #ffffff;">
                    [Planning / Delivery / Training / Implementation / Technical Support]
                </p>
                <div class="mb20"></div>
            </div>
            <div class="mb40 clearfix"></div><!-- space -->
            <div>

                <div class=" text-center  u-margin-bottom-medium">
                    <h1 class="heading-secondary">
                        The Ability to integrate with Larger Suite
                    </h1>
                    <br>  <br>
                </div>

                <div class="col-sm-4 col-xs-6 pull-right">
                    <a href="https://www.softexsw.com/en/market-control-online-e-invoice" target="_blank">
                        <div class="service vertical service-hover-bg text-center service-box">

                            <span class="service-icon"><i class="fa fa-file-text-o txt-dark"></i></span>
                            <div>
                                <h3 class="service-title custom text-uppercase text-center" style="font-size: 18px;text-transform: initial;"> Market Control Online  <br>E-Invoice Egypt </h3>

                                <span class="btn btn-custom btn-sm no-radius mt10">View More</span>
                            </div><!-- End .service-content -->

                        </div>
                    </a><!-- End .service -->
                </div>
                <div class="col-sm-4 col-xs-6 pull-right">
                    <a href="https://www.softexsw.com/en/sales-control-online" target="_blank">
                        <div class="service vertical service-hover-bg custom text-center service-box">

                            <span class="service-icon"><i class="icon-earphones-alt txt-dark"></i></span>
                            <div>
                                <h3 class="service-title custom text-uppercase text-center" style="font-size: 18px;text-transform: initial;">Customer Relationship Management </h3>

                                <span class="btn btn-custom btn-sm no-radius mt10">View More</span>
                            </div><!-- End .service-content -->

                        </div>
                    </a><!-- End .service -->
                </div>

                <div class="col-sm-4 col-xs-6 pull-right">
                    <a href="https://www.softexsw.com/en/market-control-online" target="_blank">
                        <div class="service vertical service-hover-bg custom text-center service-box">

                            <span class="service-icon"><i class="icon-calculator txt-dark"></i></span>
                            <div>
                                <h3 class="service-title custom text-uppercase text-center" style="font-size: 18px;text-transform: initial;">Market Control <br> Online ERP </h3>

                                <span class="btn btn-custom btn-sm no-radius mt10">View More</span>
                            </div><!-- End .service-content -->

                        </div>
                    </a><!-- End .service -->
                </div>
                <div class="col-sm-4 col-xs-6 pull-right">
                    <a href="https://www.softexsw.com/en/construction-erp" target="_blank">
                        <div class="service vertical service-hover-bg custom text-center service-box">

                            <span class="service-icon"><i class="fa fa-cubes txt-dark"></i></span>
                            <div>
                                <h3 class="service-title custom text-uppercase text-center" style="font-size: 18px;text-transform: initial;">BRICKS The Construction ERP</h3>

                                <span class="btn btn-custom btn-sm no-radius mt10">View More</span>
                            </div><!-- End .service-content -->

                        </div>
                    </a><!-- End .service -->
                </div>
                <div class="col-sm-4 col-xs-6 pull-right">
                    <a href="https://www.softexsw.com/en/real-estate-manager" target="_blank">
                        <div class="service vertical service-hover-bg custom text-center service-box">

                            <span class="service-icon"><i class="fa fa-building txt-dark"></i></span>
                            <div>
                                <h3 class="service-title custom text-uppercase text-center" style="font-size: 18px;text-transform: initial;">Real Estate Manager <br>ERP</h3>

                                <span class="btn btn-custom btn-sm no-radius mt10">View More</span>
                            </div><!-- End .service-content -->

                        </div>
                    </a><!-- End .service -->
                </div>
                <div class="col-sm-4 col-xs-6 pull-right">
                    <a href="https://www.softexsw.com/en/webdesign" target="_blank">
                        <div class="service vertical service-hover-bg custom text-center service-box">

                            <span class="service-icon"><i class="fa fa-paint-brush txt-dark"></i></span>
                            <div>
                                <h3 class="service-title custom text-uppercase text-center" style="font-size: 18px;text-transform: initial;">Website Design and Development </h3>

                                <span class="btn btn-custom btn-sm no-radius mt10">View More</span>
                            </div><!-- End .service-content -->

                        </div>
                    </a><!-- End .service -->
                </div>
                <div class="mb40 clearfix"></div>
            </div>
            <div>
                <div style="padding: 0 30px;">
                    <h2 class="title-underblock title-bottom-border custom mb30"><span> Our Clients</span></h2>
                </div>
                <img src="https://www.softexsw.com/ar/images/mc/our-clients.webp" alt="softex-clients" class="img-responsive">
            </div>

            <div class="mb40"></div>
            <hr style="border-top: 1px solid #f1f1f1;">
            <div class="text-center"><h1 style="font-size: 34px;color: #015990;font-weight: 500;letter-spacing: 0;"><strong>ERP</strong> Built for the Cloud</h1></div>

            <div class="text-center">
                <a href="#" name=" " data-toggle="modal" data-target="#modal-contact-form-advanced" onclick="getclick('(general)');" class="btn btn-danger btn-lg no-radius mb30" style="font-size:20px; white-space: normal">
                    <i class="fa fa-paper-plane" style="
                                                                                                                                                     font-size: 22px;
                                                                                                                                                     display: inline-block;

margin-right: 10px;
                                                                                                                                                     vertical-align: middle;
                                                                                                                                                     color: #ffffff; margin-left: 10px
                                                                                                                                                     "></i> Contact us for more information
                </a>
                <a href="https://www.softexsw.com/ar/" class="btn btn-custom no-radius btn-lg mb30" style="font-size:20px; white-space: normal">
                    <i class="fa fa-arrow-circle-o-left" style="
                                                                                                                                                     font-size: 26px;
                                                                                                                                                     display: inline-block;margin-right: 10px;
                                                                                                                                                     vertical-align: middle;
                                                                                                                                                     color: #ffffff; margin-left: 10px;"></i> More about our Solutions
                </a>




            </div>
            <div class="social-icons text-center">
                <h3 class="mb20">Follow Us</h3>
                <a href="https://www.youtube.com/user/SoftexTube" class="social-icon icon-youtube add-tooltip" style="font-size: 40px" title="" data-original-title="Youtube" target="_blank">
                    <i class="fa fa-youtube"></i>
                </a>
                <a href="https://www.linkedin.com/company/softex-software-house" class="social-icon icon-linkedin add-tooltip" style="font-size: 40px" title="" data-original-title="Linkedin" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://twitter.com/softexsoftware" class="social-icon icon-twitter add-tooltip" style="font-size: 40px" title="" data-original-title="Twitter" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://www.facebook.com/Softexsw" class="social-icon icon-facebook add-tooltip" style="font-size: 40px" title="" data-original-title="Facebook" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </div> *@
        </div><!-- End .col-md-9 -->



    </div>
</div>
</div>


<script>
    const GPS = Vue.createApp({
        data() {
            return {
                Details: [],
                
                screenSize: window.innerWidth,
            };
        },
        created() {
            this.loadApi();
        },
        methods: {
            async loadApi() {
                try {
                    const response = await axios.get("/TreeData/GetImages?TreeId=99");
                    const response = await axios.get("/TreeData/GetImages?TreeId=99");
                    this.Details = response.data[0];
                    
                } catch (e) {
                    console.error(e);
                }
            },
            updateSelectedImage(image) {
                let selectedImage = "";
                if (this.screenSize <= 767) {
                    selectedImage = image.imageLinkMobile;
                } else if (this.screenSize <= 1024) {
                    selectedImage = image.imageLinkTablet;
                } else {
                    selectedImage = image.imageLink;
                }
                return selectedImage;
            },
            truncateText(value) {
                if (value.length > 30) {
                    return value.substring(0, 28) + "...";
                }
                return value;
            },
        },
    });

    GPS.mount('#GPSSection');
</script>