@* <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'> *@
<div id="content" role="main" class="no-padding">
    <div class="page-header parallax dark larger2x larger-desc skrollable skrollable-between" data-bgattach="/images/backgrounds/index9/bg1.webp" data-0="background-position:50% 0px;" data-500="background-position:50% -100%" style="margin-bottom: 0px; background-image: url(&quot;images/backgrounds/index9/bg1.webp&quot;); background-position: 50% 0px;">
        <div class="container skrollable skrollable-between" data-0="opacity:1;" data-top="opacity:0;" style="opacity: 1;">
            <div class="row" style="display: flex;">
                <div class="col-md-6">
                    <h1>About Us</h1>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">About Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<partial name="../Shared/Templates/About/WhoWeAre.cshtml" model="69" />



<partial name="../Shared/Templates/About/HowWeDo.cshtml" model="70" />




<partial name="../Shared/Templates/About/SoftexStory.cshtml" model="71" />







